.moodbox {
  background-image:url(http://az616578.vo.msecnd.net/files/2016/03/13/6359346621543673841267054763_pup.jpg);
  height: 300px;
}

.mood {
text-align:center; margin: 0 auto; display: inline-block; vertical-align: middle; width:100%; line-height:200px; font-size:3em; color:#fff; font-weight:700; text-shadow: 2px 1px 5px #ccc;
}

.row {
  
}

body {
  background-color: #052439;
}

.track_display {
  display:none;
  background-color: #052439;
  color: #DF967D;
  width:100%;
  padding-top:50px;
  padding-bottom:400px;
  font-weight: 700;
  font-size:150%;
}

.track_display > h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.back {
  padding: 12px 35px; background-color:#333; color:#fff; font-weight:700;
}

li {
  font-weight: 400;
}

.relatedArtist {
  /*padding:50px;*/
}